/*#Link_Menu {
	display: table-row;
	/*width: 100%;*//*
}
#left_Section {
	width: inherit;
	border-collapse: collapse;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	display: table-cell;
	float: none;
}
button {
	background-color: white;
   
    font-size: xx-large;
    padding: 15px;
    	
}
#buttonSection {
	 border: 2px;
    border-color: black;
    border-style: solid;
	border-collapse: collapse;
	/*float:left;*//*
	display: table-cell;
}
*/
#LinkMenu {
	position: absolute;
}
button.close {
	background-color: inherit;
	border: none;	
    font-size: 2em;
    padding: 15px;
}
#LinkMenuClose:active {
	background-color: gray;
}
button.button_tab {
	width: 100%;
}
tr.LinkMenu_tr {
	background-color: white;
	height: calc(36px + 2ex);
}
td.header_button {
	background-color: white;
	border-bottom-style: hidden;
	
}
#Link_Container {
	border-top: none;
}
#Link_Section {
	padding-left: 20px;
	padding-right: 10px;
	background-color: white;
}
#button_holder {
	border: none;
	width: 100%;
	border-collapse: separate;
	table-layout: fixed;
}
	
#LinkMenuClose {
	padding: 5px 15px;
	font-size: 2em;
	width: 1em;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}