<script src = "library.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
<script src = "shard.js"></script>
<link rel="stylesheet" type="text/css" href="shard.css">


<div id = "LinkMenu">
	<table style = "border-collapse:collapse;">
		<tbody>
			<tr style = "border: 1px solid black;" class = "LinkMenu_tr">
				<td style = "border-bottom-style:hidden;">
					<p> MENUS HERE </p>
				</td>
				<td style = "border-bottom:1px solid black;" id = "LinkMenuClose">
					&#8592;
				</td>
			</tr>
			<tr>
				<td style = "border: 1px solid black;"  id = "Link_Section">
					<div>
						<table  id = "button_holder">
							<tr style = "border: 1px solid black;" class = "LinkMenu_tr">
								<td class = "header_button">
									<button class = "button_tab" type = "button" value = 0>
										Main;
									</button>
								</td>
								<td class = "header_button">
									<button class = "button_tab"type = "button" value = 1>
										Time Wasting
									</button>
								</td>
								<td class = "header_button">
									<button class = "button_tab"type = "button" value = 2>
										Experiments
									</button>
								</td>
							</tr>
						</table>
						<div id="Link_Container">
							<div class="Link_Holder" id="Link1">
								<p class = "img_link">
									<a href="https://mail.google.com/mail/?authuser=0">
										Email. Remember to check this
										<br>
										<img class="side_img" src="mail.jpg">
									</a>
								</p>		
								<p class = "img_link">
									<a href="https://drive.google.com/?authuser=0">
										Drive
										<br>
										<img class="side_img" src="drive.png">
									</a>
								</p>
								<p class = "img_link">
									<a href="https://www.youtube.com/">
										Time Wasting
										<br>
										<img class="side_img" src="youtube.png">
									</a>
									
								</p>
								<p class = "img_link">
									<a href="https://login.sbhs.net.au/index.php?option=com_users&view=profile">
										Portal
										<br>
										<img class = "side_img" src="SBHS.jpg">			
									</a>
								</p>
								<p class = "img_link">
									<a href="https://xkcd.com/">
										xkcd
										<br>
										<img class="side_img" src="xkcd.png">
									</a>
								</p>
								<p class = "img_link">
									<a href="https://www.openlearning.com/courses/enhancedcomputing">
										HS1917
										<br>
										<img class="side_img" src="openlearning.png">
									</a>
								</p>
							</div>
							<div class="Link_Holder" id="Link2">
								<p class = "img_link">
									<a href="http://www.smbc-comics.com/" >
										SMBC 
										<br>
										<img class="side_img" src="smbc.jpg">
									</a>
								</p>		
								<p class = "img_link">
									<a href="https://forums.terraria.org/index.php">
										Terraria Spoilers
										<br>
										<img class="side_img" src="TCF.png">
									</a>
								</p>
								<p class = "img_link">
									<a href="https://blog.malwarebytes.org/">
										Computer Science and other stuff
										<br>
										<img class="side_img" src="malware.jpg">
									</a>
									
								</p>
								<p class = "img_link">
									<a href="https://www.nerfnow.com/">
										Nerf Now
										<br>
										<img class="side_img" src="nerfnow.png">	
									</a>
								</p>
								<p class = "img_link">
									<a href="http://www.explainxkcd.com/wiki/index.php/Main_Page">
										Because
										<br>
										<img class="side_img" src="explainxkcd.png">
									</a>
								</p>
								<p class = "img_link">
									<a href="http://www.9news.com.au" >
										Untrustworthy News site
										<br>
										No pics Here
										<br>
										<!--img class="side_img" src="mail.jpg"-->
									</a>
								</p>		
								<p class = "img_link">
									<a href="http://smh.com.au">
										News site with invalid https certificate
										<br>
										No pics here
										<br>
										<!--img class="side_img" src="drive.png"-->
									</a>
								</p>
							</div>
							<div class = "Link_Holder" id="Link3">
								<div id="searchArea">
								<p>
									Search provider: 
									<select id="searchOption">
										<option value = 0> Google        </option>
										<option value = 1> Wolfram|Alpha </option>
										<option value = 2> YouTube       </option>
										<option value = 3> TvTropes      </option>
										<option value = 4> ExplainXKCD   </option>
										<option value = 5> Terraria      </option>
									</select>
								</p>
								<p>
									Query: <input type="text" id = "searchBar">
									<input type="checkbox" id="aTestHttps" value="Https" checked="true">
								</p>
								<button class = "search" type = "button" id = "searchButton">
									Search!
								</button>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div> 

<script>
'use strict'
let LinkMenuSize = window.innerWidth * .25 + 50;
function LinkMenuResize () {
	let tr = window.LinkMenu.children[0].children[0].children[0].children;
	let extra = tr[1].offsetWidth;
	let total = window.innerWidth * .25 ;
	window.LinkMenu.children[0].style.width = (total + extra + 50) + "px";
}
LinkMenuResize()
document.body.onresize = function (e) {LinkMenuSize = window.innerWidth * .25 + 50;};
let translateAnim = true;
const sideShow = function () {
	const animationTime = 200;
	let hidden = 0;
	return function () {
		let anim;
		let distance = window.innerWidth * .25 + 50;
		if (hidden) {
			if (!translateAnim) {
				anim = LinkMenu.animate([{left: -distance + "px"}, {left: 0 + "px"}], animationTime);
			} else {
				anim = LinkMenu.animate([{transform: "translateX(" + -distance + "px)"}, {transform: "translateX(" + 0 + "px)"}], animationTime);
			}
			anim.onfinish = function () {
				if (translateAnim) {
					LinkMenu.style.transform = "translateX(" + 0 + "px)";
				} else {
					LinkMenu.style.left = 0 + "px";
				}
				hidden = 0;
				LinkMenuClose.innerText = String.fromCharCode(8592);
				LinkMenu.offsetHeight;
			};
		} else {
			if (!translateAnim) {
				anim = LinkMenu.animate([{left: 0 + "px"}, {left: -distance + "px"}], animationTime);
			} else {
				anim = LinkMenu.animate([{transform: "translateX(" + 0 + "px)"}, 
				{transform: "translateX(" + -distance + "px)"}], animationTime);
			}
			anim.onfinish = function () {
				if (translateAnim) {
					LinkMenu.style.transform = "translateX(" + -distance + "px)"
				} else {
					LinkMenu.style.left = -distance + "px";
				}
				hidden = 1;
				LinkMenuClose.innerText = String.fromCharCode(8594);
				LinkMenu.offsetHeight;
			};
		}
			
	}
}()
LinkMenuClose.onclick = sideShow;
</script>
