/* 
	Main = 22 - Left + Right padding (20) + borders (2)
	Left = 30 - Left Padding (20) + right padding (10)
	Options = 20 - Left + Right padding (20)

*/
html
{
	height: 100%;
}
body
{
	background-color:#F8F8F8;
	margin: 0px;
	overflow: auto;
	height: 100%;
}
#left_Section
{
	background-color:#eeeeee;
	float:left;
	width: 25%;
	height: calc(100% - 2px - 1em);
	position: relative;
	padding-left: 20px;
	padding-right: 10px;
}
#button_holder
{
	
	height = 50px;
	width = 25%;
}
button.button_tab
{
	background-color: #1D7CF2;	
	border: 0px;
	height: 50px;
	font-size: 1em;
	border-radius: 25px;
	width: calc((100% - 10px) / 3);
}
button.button_tab:active
{
	background-color: #0968DE;
}
div.Link_Holder
{
	width: 100%;
	top: 65px;
	left: 10px;
	float: left;
}
p.img_link
{
	margin-top: 0px;
}
a:link 
{
	color:#458B00;
	background-color:transparent;
	text-decoration:none;
}
a:visited
{
	color:#458B00;
	background-color:transparent;
	text-decoration:none;
}
a:hover 
{
	color:#c00000;
	background-color:transparent;
	text-decoration:underline;
}
a:active 
{
	color:#ff0000;
	background-color:transparent;
	text-decoration:underline;
}
img.side_img
{
	max-height:60px;
	justify-content:center;
}
#searchArea
{
	position: relative;
	width: 250px;
}
#searchBar 
{
	margin-left: 5px;
}
button.search
{
	background-color: #FFFFFF;
	border: 0px;
	height: 55px;
	font-size: 1.25em;
	position: absolute;
	left: 240px;
	top: 0px;
	padding-left: 10px;
	padding-right: 10px;
}
button.search:active
{
	background-color: #DDDDDD;
}
div.option_Holder
{
	width: 75%;
	background-color: #eeeeee;
	height: 25px;
	justify-content: center;
	align-items: center;
	float: left;
	padding:10px;
}
div.option_Holder_short
{
	width: calc(75% - 50px); /* self.padding = 20px, left - 30px */
	background-color: #eeeeee;
	height: 25px;
	justify-content: center;
	align-items: center;
	float: left;
	padding:10px;
}
div.option_Holder_long
{
	width: calc(100% - 20px);
	background-color: #eeeeee;
	height: 25px;
	justify-content: center;
	align-items: center;
	float: left;
	padding:10px;
}
button.options
{
	background-color: #FFFFFF;
	border: 0px;
	height: 25px;
	font-size: 1em;
	float: left;
	margin-right: 10px;
}
button.options:active
{
	background-color: #DDDDDD;
}
#tileNavigation
{
	height: 25px;
	float: left;
	margin-right: 10px;
	font-size: 1em;
}
#context
{
	float: right;
	font-size: 1em;
}
div.content_container
{
	width: 75%;
	float:left;
	height: 87%;
	border: #000000 solid 1px;
	background-color: #FFFFFF;
	overflow: auto;
}
div.content_container_short
{
	width: calc(75% - 32px); /* self.padding = 20px, self.borders = 2px, left.padding = 30px */
	float:left;
	height: calc(100% - 49px - 1em); /* 45px = options bar, 2px = object border, 2px + 1em = footer */
	border: #000000 solid 1px;
	background-color: #FFFFFF;
	overflow: auto;
}
div.content_container_long
{
	width: calc(100% - 2px);
	float:left;
	height: calc(100% - 49px - 1em); /* 45px = options bar, 2px = object border, 2px + 1em = footer */
	border: #000000 solid 1px;
	background-color: #FFFFFF;
	overflow: auto;
}
div.content
{
	width: 100%;
	height: 100%;
	float: left;
	padding-left: 30px;
	padding-right: 10px;
}
div.content_short
{
	width: calc(75% - 50px); /* self.padding = 20px, self.borders = 2px, left.padding = 30px */
	float:left;
	height: calc(100% - 49px - 1em); /* 45px = options bar, 2px = object border, 2px + 1em = footer */
	padding-left: 10px;
	padding-right: 10px;
}
div.content_long
{
	width: calc(100% - 20px);
	float:left;
	height: calc(100% - 49px - 1em); /* 45px = options bar, 2px = object border, 2px + 1em = footer */
	padding-left: 10px;
	padding-right: 10px;
}
#primaryContent
{
	display: initial;
}
#Footer 
{
	background-color:black;
	color:white;
	clear:both;
	text-align:center; 	
	margin-bottom: 0px;
	margin-top: 0px;
	margin: 0px;
	width: 100%;
	height: calc(1em + 2px);
	top: calc(100% - 2px - 1em);
}
dialog.confirm
{
	left: 50px;
	top: 100px;
	font-size: 1em;
    border-radius: 5px;
    border-width: 2px;
    min-width: 12em;
    text-align: center;
}
button.confirm
{
	background-color: #FFFFFF;
	border-style: solid;
	height: 25px;
	font-size: 1em;
	float: left;
	margin-right: 10px;
	border-radius: 3px;
	border-color: rgba(0, 0, 0, 0.45);
	position: absoulte !important;
}
	
table
{
    border-collapse: collapse;
    /*border: 1px solid black;*/
}
table td, table th 
{
	padding: 3px;
    /*border: 1px solid black;*/
}